extends layout

block links
  link(rel='stylesheet', href="/css/register.css")

block scripts
  script(src="/js/login.js")

block content
  form.registration(action = "/profile")
    h1 Login
    .form-group
        label Email
        input#email.form-control(type = "text", placeholder="Enter Email") 
    .form-group
        label Password
        input#password.form-control(type = "password", placeholder="*******") 
    input.btn.btn-default(type="submit")
