extends layout  

block links
  link(rel='stylesheet', href='/css/profile.css')

block scripts
  script(src='/js/search.js')
  script(src="/js/github.js")
  script(src="/js/githubUI.js")
  script(src="/js/jquery.js")
  script(src="/js/sha1.js")
  script(src="/js/oauth.js")
  script(src="/js/khan.js")
  script(src="/js/KhanUI.js")


block content
  script.
    var init = function() {
    var card = document.getElementById('card');
  
    document.getElementById('flip').addEventListener( 'click', function(){
      card.toggleClassName('flipped');
      }, false);
    };
    window.addEventListener('DOMContentLoaded', init, false);
  div.content
    nav.navbar.navbar-default
      div.container
        div.navbar-header
          a.navbar-brand(href="#") Endorser
    div.namebar
      div.namebar.namebar-container
        img.profleicon(src='/img/profile.png',width='100', height='100')
        span.name Anthony Endergame
        div.connectbuttons
          button#login-button-k Connect with Khan Academy
          button#login-button Connect with Github
      div.clear
    div.content(ng-app='search-module')
      div.search-module(ng-controller='searchCTRL')
        div.searchpanel
          label.narrowdown Narrow Down
            input(type='text', ng-model='q')
        div.searchcontent
          ul.achievementlist
            li.hexagon.achievement(ng-repeat="achieve in achievements | filter:q")
              {{achieve.name}}
              br
              {{achieve.subtext}}
              br
              {{achieve.source}}
        div.clear

