extends layout

block scripts
  script(src="/js/register.js")

block content
  form
    label First Name
      input#first-name(type = "text") 
    br
    label Last Name
      input#last-name(type = "text") 
    br
    label Email
      input#email(type = "text") 
    br
    label Password
      input#password(type = "password") 
    br
    input(type="submit")
