@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%; }

.hero.header {
  height: 50px; }

.container-bg {
  position: absolute;
  height: 600px;
  overflow: hidden; }

.hero {
  width: 100%;
  height: 300px; }


.logo {
  width: 200px;
  padding: 20px; }

.hero.footer {
  height: 140px;
  background-color: #222222;
  color: #ffffff; }
  .hero.footer .foot {
    margin-top: 30px; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.6; }

  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0.6; }

  to {
    opacity: 1; } }

@-o-keyframes fadeIn {
  from {
    opacity: 0.6; }

  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0.6; }

  to {
    opacity: 1; } }

.logo {
  opacity: 0.7; }

.logo:hover {
  -webkit-animation: fadeIn 0.3s ease-in-out 1 forwards;
  -moz-animation: fadeIn 0.3s ease-in-out 1 forwards;
  animation: fadeIn 0.3s ease-in-out 1 forwards; }

.container .col {
  text-align: center; }

.navbar {
  margin-bottom: 0; }

.hero.herobar {
  background-color: #F6C9FF; }

.hero.parallax {
  overflow: hidden;
  height: 400px; }
  .hero.parallax img {
    min-width: 400px;
    width: 100%;
    height: auto; }

.hero.features {
  height: 400px; }
  .hero.features .feature-title {
    font-weight: 100;
    font-size: 28px; }
  .hero.features .col {
    padding: 20px; }
  .hero.features p {
    padding: 10px;
    font-size: 16px; }
  .hero.features img {
    width: 300px;
    margin: 10px; }

.hidden {
  display: hidden; }

.websites {
  margin: auto; }

.text {
  float: left; }

.image {
  margin-top: 25px;
  float: right; }
