@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400);
body {
  background-repeat:no-repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.navbar {
  margin: auto;
  text-align: center;
}

.container {
  width: 1000px;
}

.namebar {
  background-color:rgba(0,0,0,0.2);
  margin: auto;
  height: 165px;
  width: 100%;
}
.namebar-container {
  padding: 30px;
  width: 1000px;
}
.name {
  font-family: 'Open Sans', sans-serif;
}
.profileicon {
  height:auto; 
  width:auto;
  max-width:110px; 
  max-height:110px;
  background-repeat: no-repeat;
  text-align: center;
}

.content {
  min-height: 900px;
  height: 100%;
  background:url(/img/bg.jpg) center center fixed;
}

.search-module{ 
  overflow: hidden;
  margin: auto;

}

.searchpanel {
  float: top;
  min-height: 20px;
  margin: 5px;
}

.searchcontent {
  float: bottom;
  min-height: 800px;
  max-height: 100%;
  max-width: 100%;
  margin: 5px;
  overflow: hidden;
  z-index: 100;
}

.clear {
  clear: both;
}

.connectbuttons {
  float: right;
}

.name {
  font-size: 40px;
  padding-left: 30px;
  line-height: 94px;
  color: #fff;
}

.achievementlist {
  list-style-type: none;
  padding-bottom: 100px;
}

.achievement {
  display: inline-block;
  vertical-align:bottom;
  text-align: center;
  width: 250px;
  height: 150px;
  margin: 10px 10px 10px 10px;
}

.containerB {
  width: 250px;
  height: 120px;
  position: relative;
  -webkit-perspective: 800px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
            perspective: 800px;

  z-index: 999;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
           transform-style: preserve-3d;

}
#card.flipped {
  -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
           transform: rotateY( 180deg );

}
#card figure {
  font-family: 'Open Sans', sans-serif;
  display: block;
  position: absolute;
  left: 23%;
  width: 130px;
  height: 100px;
  -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
           backface-visibility: hidden;

  font-size: 25px;
  top: 60%;
  color: #FFF;
  text-overflow: ellipsis;
  overflow: hidden;
}
#card .back {
  font-weight: 300; 
  font-size: 14px;
  left: 27%;
  width: 110px;
  height: 100px;

  -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
           transform: rotateY( 180deg );
  -webkit-backface-visibility: hidden;
         -mox-transform-backface-visibility: hidden;
           -o-transform-backface-visibility: hidden;
            transform-backface-visibility: hidden;

}
img#badge {
  max-width: 100%;
  width: 240px;
  height: auto;
  text-align: center;
  vertical-align:middle;
  z-index: 999;
}

.hero.footer {
  height: 140px;
  background-color: #222222;
  color: #ffffff;

}  
.foot {
  margin-top: 30px; 
}