.navbar {
  margin: auto;
  text-align: center;
}

.container {
  width: 1000px;
}

.namebar {
  background-color: #3C3C3C;
  margin: auto;
  height: 165px;
  width: 100%;
}
.namebar-container {
  padding: 30px;
  width: 1000px;
}

.content {
  min-height: 300px;
  height: 100%;
  background-color: #A2A2A2;
}

.search-module{ 
  overflow: hidden;
  margin: auto;
  width: 1000px;
}

.searchpanel {
  float: left;
  width: 300px;
  min-height: 200px;
  margin: 10px;
  background-color: #fff;
}

.searchcontent {
  float: right;
  width: 660px;
  min-height: 300px;
  max-height: 800px;
  margin: 10px;
  background-color: #fff;
  overflow: hidden;
}

.clear {
  clear: both;
}

.connectbuttons {
  float: right;
}

.name {
  font-size: 36px;
  padding-left: 50px;
  line-height: 94px;
  color: #fff;
}

.achievementlist {
  list-style-type: none;
}

.achievement {
  display: inline-block;
  vertical-align:bottom;
  width: 280px;
  height: 150px;
  margin: 50px 50px 50px 50px;
}

.hexagon {
    margin-top: 70px;
    width: 170px;
    height: 90px;
    background: #6C6;
    position: relative;
}
.hexagon:before, .hexagon:after {
    content:"";
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    position: absolute;
}
.hexagon:before {
    top: -60px;
    border-bottom: 60px solid #6C6;
}
.hexagon:after {
    bottom: -60px;
    left: 0px;
    border-top: 60px solid #6C6;
}