@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);

body {
  background-repeat:no-repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.navbar {
  margin: auto;
  text-align: center;
}

.container {
  width: 1000px;
}

.namebar {
  background-color: rgba(22,22,22,0.8);
  margin: auto;
  height: 165px;
  width: 100%;
}
.namebar-container {
  margin: auto;
  padding: 30px;
  width: 1000px;
}
.name {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.profileicon {
  height:auto; 
  width:auto;
  max-width:110px; 
  max-height:110px;
  background-repeat: no-repeat;
  text-align: center;
}

.content {
  min-height: 900px;
  height: 100%;
  background:url(/img/bg.jpg) center center fixed;
}

.search-module{ 
  overflow: hidden;
  margin: auto;
  width: 1000px;
}

.searchpanel {
  float: top;
  min-height: 20px;
  margin: 5px;

}

.searchcontent {
  float: bottom;
  min-height: 300px;
  max-height: 800px;
  margin: 5px;
  overflow: hidden;
}

.clear {
  clear: both;
}

.connectbuttons {
  float: right;
}

.name {
  font-size: 40px;
  padding-left: 30px;
  line-height: 94px;
  color: #fff;
}

.achievementlist {
  list-style-type: none;
  padding-bottom: 100px;
  background-color: red;
  
}

.achievement {
  display: inline-block;
  vertical-align:bottom;
  text-align: center;
  width: 250px;
  height: 200px;
  margin: 0px;
  padding: 0px;
}

.containerB {
  width: 250px;
  height: 120px;
  position: relative;
  -webkit-perspective: 800px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
}
#card.flipped {
  -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
}
#card figure {
  font-family: quickSand;
  src: url(Quicksand-Regular.woff);
  display: block;
  position: absolute;
  width: 70%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
  font-size: 25px;
  position: absolute;
  top: 75px;
  left: 38px;
  color: #FFF;
}
#card .back {
  font-size: 14px;
  position: absolute;
  top:85px;
  width: 120px;
  left: 65px;
  -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
}

.hero.footer {
  -webkit-box-shadow: 0 -3px 10px 3px rgba(22,22,22,0.6);
  box-shadow: 0 -3px 10px 3px rgba(22,22,22,0.6);
  height: 140px;
  background-color: #222222;
  color: #ffffff;

}  
.foot {
  margin-top: 30px; 
}

